<div class = "col-xs-10 col-xs-offset-4">
  <table>
    <caption><center><h3>My URLs</h3></center></caption>
      <tr>
          <td><b>Target URL</b></td>
          <td><b>Shortcut</b></td>
          <td><b>Delete</b></td>
      </tr>
    <% if @my_urls.present? %>
      <% @my_urls.each do |my_url| %>
          <tr>
            <td><%= my_url.target %></td>
            <td><%= "localhost:3030/#{my_url.shortcut}" %></td>
            <td><%= link_to "DELETE", url_path(my_url), :method => :delete, :data =>{ :confirm => 'Are You Sure You Want To Delete This?'}, :class => 'btn btn-danger' %> 
          </tr>
      <% end %>
    <% end %>
  </table>
</div>