<h1> This is your dashboard <h1>

<table>
<td></td>

<% if @my_urls.present? %>
  <h2>My URLS</h2>
  <% @my_urls.each do |my_url| %>
    <%= link_to my_url.target, my_url.target %>
    <br />
    <%= "http://crunch-url.herokuapp.com/urls/#{my_url.id}" %>
    <br />
    <br />
  <% end %>
<% end %>


</table>
