<h1> This is your dashboard <h1>

<table>
<td></td>

<% if @my_urls.present? %>
  <h2>My URLS</h2>
  <% @my_urls.each do |my_url| %>
    <%= my_url.target %>
    <br />
    <%= "localhost:3030/#{my_url.shortcut}" %>
    <br />
    <br />
  <% end %>
<% end %>


</table>
